/* Import this file to main.css */

/*** Wrapper Section ***/

.wrapper {
    width: 65%;
    margin: auto;
    display: grid;
    margin: auto;
    padding-top: 5em;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.1fr 1fr 0.1fr 0.5fr;
    grid-gap: 2em;
    grid-template-areas: 
    "main-header main-header main-header main-header"
    "main main main main"
    "card-header card-header card-header card-header"
    "home food gardening kid";
}

.main-header {
    grid-area: main-header;
}

.card-header {
    grid-area: card-header;
}

.home {
    grid-area: home;
}

.food {    
    grid-area: food;
}

.gardening {
    grid-area: gardening;
}

.kid {
    grid-area: kid;
}

.main-header,
.card-header,
.recipe-header {
    margin:auto;
}