@import "../import_css_files/global.css";
@import "../import_css_files/variables.css";

/* Media Query for Small Devices */
@media screen and (max-width: 600px) {
    .quote-section {
        display: flex;
        flex-direction: column;
    }

    .quote {
        border-top: solid var(--box-shadow-color);
        border-bottom: solid var(--box-shadow-color);
        border-right: none;
    }
    
    .author {
        display: flex;
        flex-direction: column;
        align-items: center;
        /*border: 1px solid red;*/
    }

    .author-img {
        margin: 0;
    }

    .author-bio {
       text-align: center;
    }
}
    
/* Media Query for Medium Devices */
@media screen and (min-width: 600px) and (max-width: 1024px) {
    .quote-section {
        display: flex;
        flex-direction: column;
    }

    .quote {
        border-top: solid var(--box-shadow-color);
        border-bottom: solid var(--box-shadow-color);
        border-right: none;
    }
}