:root {
    --heading-font-family: "Crimson Text", "Lora", serif;
    --font-family: "Nunito Sans", sans-serif;
    --anton-font-family: "Anton", sans-serif;
    --heading-font-color: #474849;
    --sub-header-font-color: #8e9092;
    --background-color: #edf1f4;
    --hover-color: #dde5ea;
    --box-shadow-color: #beccd7; 
    --btn-color: #2f5f6a;
    --white: #fff;
    --black: #000;
}