* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h1, 
h2, 
h3, 
h4 {
    font-family: var(--heading-font-family);
}

a, 
p, 
ul,
ol, 
button {
    font-family: var(--font-family);
    font-size: 1rem;
}

#container {
    height: 100vh;
    width: 100vw;
}

.header {
    height: 8rem;
    box-shadow: 0 8px 5px -5px var(--box-shadow-color); 
}

.header,
.footer {
    background-color: var(--background-color);
}

.header-wrapper,
.footer-wrapper {
    display: flex;
    justify-content: space-between;
    width: 65%;
    margin: auto;
    padding-top: 1.5rem;
}

.header-wrapper-name {
    width: 33%;
}


.blog-name {
    font-size: 2rem;
    font-family: var(--heading-font-family);
    text-transform: uppercase;
    letter-spacing: 0.35rem;
}

.navbar {
    width: 55%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-family);
    text-transform: uppercase;
    font-weight: 600;
}

.nav, 
.card,
.btn,
.card-btn,
.input-form {
transition: 0.5s;
}

.nav:hover,
.article:hover {
    text-decoration: underline;
}

.btn {
    height: 3rem;
    width: 8rem;
    border: 2px solid var(--btn-color);
    background-color: var(--white);
    text-transform: uppercase;
}

.btn:hover,
.card-btn:hover {
    background-color: var(--btn-color);
    color: var(--white);
}

.form-input {
    height: 3rem;
    width: 20rem;
    padding-left: 1rem;
    border: 2px solid var(--btn-color);
}

.form-input:focus {
    box-shadow: 0 0 10px var(--btn-color);
    outline: var(--btn-color);
}