@import url(../css_files/global.css);
@import url(../css_files/variables.css);

.wrapper {
    display: grid;
    width: 65%;
    margin: auto;
    grid-template-rows: 7rem auto 12rem;
    grid-gap: 0.25rem;
    grid-template-areas: 
    "sub-nav"
    "content"
    "author";
}

/*** Sub Navigation ***/
.sub-nav {
    grid-area: sub-nav;
    height: 5rem;
    font-style: italic;
    color: var(--sub-header-font-color);
    font-size: 1.25rem;
    padding: 2rem 0;
}

/*** Content ***/
.content {
    grid-area: content;
    display: flex;
    flex-direction: column;
}

.published-info {
    display: flex;
    width: 20rem;
    justify-content: space-between;
    color: var(--sub-header-font-color);
}

.published-date {
    border-left-style: groove; 
    padding-left: 0.5rem;
}

.heading-content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.img-wrapper {
    padding: 2rem 0 1rem 0;
}

.content-img {
    width: 100%;
    height: auto;
    margin: auto;
}

.img-credit,
.img-credit a {
    font-style: italic;
    color: var(--sub-header-font-color);
}

.img-credit:hover {
    text-decoration: underline;
}

.quote-section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
    "quote middle-description";
    padding: 2rem 0;
}

.middle-description {
    grid-area: middle-description;
    padding-left: 2rem;
}

.quote {
    grid-area: quote;
    font-family: var(--heading-font-family);
    font-style: italic;
    font-size: 1rem;
    background-color: var(--background-color);
    padding: 1rem;
    border-right: solid var(--box-shadow-color);
    text-align: center;
    line-height: 1.5rem;
}

.list-section {
    padding: 2rem 0;
}

.list-section > h2 {
    padding-top: 1rem;;
}


.content-list {
    line-height: 2rem;
    width: 90%;
    margin:auto;
}

.author {
    grid-area: author;
    display: flex;
    margin-top: 1rem;
    padding: 2rem 0 2rem 2rem;
    border-top: solid var(--box-shadow-color);
}

.author-img {
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    margin-right: 5rem;;
}




/*** Footer ***/
.footer {
    display: flex;
    height: 20rem;
    justify-content: space-around;
    padding-bottom: 4rem;
    background-color: var(--background-color);
    box-shadow: 0 -5px 5px -5px var(--box-shadow-color);
    margin-top: 2rem;
}

.social-media {
    width: 48%;
}

.social-media-logo {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.contact-form {
    display: flex;
    width: 40%;
    flex-direction: column;
}

.subscription-form {
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
}