@import url(../css_files/global.css);
@import url(../css_files/variables.css);


#container {
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 0.3fr 1fr 1.75fr 0.5fr;
    grid-gap: 0.25rem;
    grid-template-areas: 
    "header"
    "nav"
    "topic"
    "content"
    "footer";
}

.header {
    grid-area: header;
}

.nav {
    grid-area: nav;
}

.topic {
    background-color: #1abc9c;
    grid-area: topic;
}

.content {
    background-color: #e5e7e9;
    grid-area: content;
}

/*** Footer Section ***/
.footer {
    display: flex;
    height: 20rem;
    justify-content: space-around;
    padding-bottom: 4rem;
    background-color: #edf1f4;
    box-shadow: 0 -5px 5px -5px var(--box-shadow-color);
    margin-top: 2rem;
}

.social-media {
    width: 48%;
}

.social-media-logo {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.contact-form {
    display: flex;
    width: 40%;
    flex-direction: column;
}

.subscription-form {
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
}